@{
    ViewBag.Title = "About";
}
<head><script src="https://kit.fontawesome.com/6ddf2dff33.js" crossorigin="anonymous"></script></head>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<p>Newly updated Page for Testig CI/CD Pipeline in Azure DevOps</p>
<p><i class="fas fa-arrow-down"> </i> Below Textarea is customly added for Selenium Automated Testing [UI Testing (Interactive Mode)]</p>
<textarea id="textarea1">Hello</textarea>